---
layout: base.njk
title: 404
eleventyExcludeFromCollections: true
permalink: 404.html
---

<div class="pt-10 mb-64 bg-red-200">
  <div class="flex flex-col px-4 mx-auto mb-16 max-w-screen-sm md:px-0">
    <p class="mb-6 text-2xl leading-tight text-center text-gray-600">
      404 — This page does not exist.
    </p>
    <p class="text-gray-600">
      Sorry about that. Maybe you’d like to go
      <a href="/" class="text-purple-600 underline">back to the home page</a>,
      or
      <a href="/blog/" class="text-purple-600 underline">visit or blog</a>
      instead?
    </p>
  </div>
</div>
