{%- set current_url = meta.url + page.url | url -%}
{%- set site_description = description or meta.description -%}
{%- set social_image = social_image or meta.social_image -%}

{%- if title and title != meta.title -%}
{%- set site_title = title + " :: " + meta.title -%}
{%- else -%}
{%- set site_title = meta.title -%}
{%- endif -%}

<!DOCTYPE html>
<html lang="{{ meta.lang }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="canonical" href="{{ current_url }}">

    <title>{{ site_title }}</title>
    <meta name="description" content="{{ site_description }}">

    <meta property="og:site_name" content="{{ meta.title }}">
    <meta property="og:title" content="{{ site_title }}">
    <meta property="og:description" content="{{ site_description }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ current_url }}">
    <meta property="og:image" content="{{ social_image }}">
    <meta property="og:image:alt" content="Page image for {{ title or meta.title }}">

    <meta name="twitter:site" content="{{ meta.author.handle }}">
    <meta name="twitter:creator" content="{{ meta.author.handle }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="{{ social_image }}">
    <meta name="twitter:image:alt" content="Page image for {{ title or meta.title }}">
    <meta name="twitter:description" content="{{ site_description }}">

    <link rel="stylesheet" href="/style.css?v={% version %}">
    <script src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
